@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* --------------------- Custom CSS --------------------- */

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.pageTitle {
  font-size: 22px;
  font-weight: 600;
}

.login-bg {
  background-image: url("./images/matt-ragland-02z1I7gv4ao-unsplash.jpg");
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.loginDiv {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 1vw;
  display: grid;
  width: 20vw;
  column-gap: 30px;
  margin-top: 250px;
  padding-top: 50px;
}

.logo {
  width: 50px;
  margin-right: 1vw;
  padding: 0.5vw;
}

.logo-login {
  width: 70px;
  margin-right: 1vw;
  padding: 0.5vw;
}




/*---- CSS Styles for this size screen ----*/

@media only screen and (max-width: 1024px) {

  

}
